.Wallpaper {
  width: 100%;
  overflow: hidden;
  height: auto;
  outline: none;
}
.slick-slide {
  outline: none;
}
.slick-slide:focus {
  outline: none;
}
.slick-dots li button {
  position: relative;
  z-index: 10;
  background: #ffffff8a;
  width: 0.5rem;
  height: 2rem;
  transform: skewX(20deg);
  transition: height 0.2s ease;
}
.slick-dots li button:hover,
li.slick-active button {
  height: 3rem;
}
.slick-dots li {
  margin: 0 2px;
  bottom: 5rem;
}
.slick-dots li button::before {
  display: none;
}

@media screen and (max-width: 800px) {
  .slick-dots li button {
    width: 1rem;
    height: 1rem;
  }
}
