.Item-table {
  display: flex;
  width: 80%;
  justify-content: center;
  padding-bottom: 5rem;
}
.item-column {
  height: auto;
  width: 20rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
}
.item-column h3 {
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 2px solid red;
}
.item-column span {
  font-weight: 600;
  font-size: 1.4rem;
}
.item-column img {
  width: 10rem;
}
.cartprice {
  color: Red;
}
.cartdeletebtn {
  width: 8rem;
  justify-self: flex-end;
  align-self: flex-end;
  height: 3rem;
  margin-top: 5rem;
  border-radius: 3rem;
  background-color: red;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .Item-table {
    width: 100%;
    /* flex-direction: column; */
    padding-bottom: 1rem;
  }
  .item-column {
    width: auto;
    height: auto;
    padding: 1rem;
    width: 8rem;
  }
  .nothingCart {
    width: 60% !important;
    margin-top: 5rem;
    text-align: center;
  }
  .nothingCart h3 {
    border-bottom: none !important;
  }
  .item-column img {
    width: 5rem;
  }
  .item-column h3 {
    font-size: 1.2rem;
  }
  .item-column span {
    font-size: 0.8rem;
  }
  .cartdeletebtn {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    background-color: red;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
  }
} ;
