.Footer {
  display: flex;
  flex-direction: column;
  height: auto;
}
.Footer-Top {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(38, 38, 38);
}
.Footer-Main {
  padding: 5rem;
  background: #1f1f1f;
}
.footercontact {
  display: flex;
  position: relative;
  top: -1rem;
  flex-direction: column;
  justify-content: center;
}
.footerheading {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
}
.footersubheading {
  color: rgb(148, 146, 146);
  font-weight: 400;
  font-size: 1.4rem;
}
.ContactBtn {
  background: white;
  color: black;
  width: 15rem;
  height: 4.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.ContactBtn:hover {
  background: red;
  color: white;
}
.footerabout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footerabout img {
  margin-left: -1rem;
}
.footersocialicons {
  display: flex;
  margin-top: 1rem;
  width: 15rem;
  justify-content: space-between;
}
.footericon {
  width: 2.5rem;
  height: 2.5rem;
  fill: white;
}
.footercontacticon {
  position: relative;
  top: 3rem;
  left: -3rem;
}
@media screen and (max-width: 700px) {
  .Footer {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .Footer-Top {
    flex-wrap: wrap;
    padding: 2rem 3rem;
  }
  .footerheading {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
  .footersubheading {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .footercontacticon {
    position: relative;
    top: 3rem;
    left: -2rem;
  }
  .ContactBtn {
    width: 12rem;
    height: 4rem;
    font-size: 1.2rem;
  }
  .footersocialicons {
    width: 12rem;
  }
  .footericon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
