* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
